.filter__account {
    background-color: $background;
    min-height: 100vh;
}

.filter__content {
    padding-top: 10%;
}
#myForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-group{
    margin: 0 auto;
    width: 500px;
}

#myForm label {
    font-family: $font-family-base;
    line-height: 5rem;
    font-size: 25px;
    color: cadetblue;
}
.title-page{
    text-align: center;
}

#username {
    background-color: rgb(38, 48, 60);
    outline: currentcolor none 0px;
    border: 0px none;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
    padding: 1rem;
    color: rgb(121, 184, 255);
    font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
        Monaco, monospace;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}
.text-description{
    font-family: "Poppins", Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    color: cadetblue;
    margin-top: 4em;
    padding: 5px;
}

@media only screen and (max-width: 800px) {
    #myForm label {
        font-family: $font-family-base;
        line-height: 5rem;
        font-size: $large-font-size;
        color: #ffffff;
    }
    .form-group{
        width: 350px;
    }
    .text-description {
        padding: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .filter__content {
        padding-top: 20%;
    }
    #myForm label {
        font-size: 18px;
    }
    .form-group{
        width: 300px;
    }
    .text-description{
        padding: 25px;
    }
    img {
        height: 120px;
    }
}
